<div class="container">

  <h3>活動グループ</h3>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">名前</th>
        <th scope="col">活動地域</th>
        <th scope="col">概要</th>
        <th scope="col">活動回数</th>
      </tr>
    </thead>
    <tbody>
      <% @parties.each do |party| %>
        <tr>
          <td>
            <%= link_to(party_path(party.id), class: 'text-primary') do %>
              <%= attachment_image_tag party, :party_image_id, :fill, 64, 64, format: 'jpeg', fallback: "no_image.jpg", class: "user-info-image" %>
            <% end %>
          </td>
          <td><%= party.id %></td>
          <td>
            <%= link_to(party_path(party.id), class: 'text-primary') do %>
              <%= party.name %>
            <% end %>
          </td>
          <td><%= party.activity_area %></td>
          <td><%= party.description %></td>
          <td>42</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>